@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
@import "tailwindcss";

@theme {
  --font-lato: "Lato", sans-serif;
}
.active {
  @apply bg-amber-600 text-amber-50;
}

.prompt {
  @apply tracking-wide text-right self-end rounded-4xl rounded-tr-none border-2  border-amber-400 py-4 px-6 text-amber-950;
}

.response {
  @apply tracking-wide text-left self-start rounded-4xl rounded-tl-none border-2  border-amber-400 py-4 px-6 text-amber-950;
}
